body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fef200; /* Amarillo mostaza */
}

.container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
}

h1 {
    color: #000000; /* Rojo claro */
}

p {
    text-align: justify;
    margin-top: 20px;
}

.btn {
    background-color: #B22222; /* Rojo claro */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #8B0000; /* Rojo más oscuro al pasar el ratón */
}
